.Body {
  position: relative;
  text-align: center;
  background-color: rgb(234, 233, 232);
  height: 60vh;
}

.add {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
}

form {
  width: 50%;
}

.add form input,
.add form textarea,
.add form button {
  width: 90;
  padding: 15px 5%;
  margin-bottom: 10px;
  /* background-color: rgba(0, 0, 0, 0.327); */

  outline: none;
  font-size: 15px;
}

.user {
  padding: 0.5rem;
  background-color: rgba(94, 148, 94, 0.746);
}

.delete-icon {
  float: right;
  cursor: pointer;
  transform: scale(2);
}

.edit-icon {
  float: right;
  margin-right: 25px;
  cursor: pointer;
  transform: scale(2);
}
.delete-icon:hover,
.edit-icon:hover {
  opacity: 0.5;
}
